body{
    margin: 0px;
}
.scp-header {
    background: linear-gradient(to right, #000000, #440000);
    border-bottom: 2px solid red;
}

/* TOPO */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-area img {
    width: 200px;
    margin-right: 10px;
}

.logo-text h1 {
    margin: 0;
    color: white;
}

.logo-text span {
    font-size: 12px;
    color: #ccc;
}

/* BUSCA */
.search-area input {
    padding: 8px;
    background: #000;
    border: 1px solid #444;
    color: white;
}

/* BOTÕES */
.user-area button {
    background: #222;
    color: white;
    border: 1px solid #555;
    padding: 5px 10px;
    margin-left: 5px;
}

/* MENU */
.main-nav {
    background: #333;
}

.main-nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.main-nav li {
    margin-right: 20px;
    position: relative;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

/* DROPDOWN */

.dropdown-content {
    display: none; /* ESCONDE */
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #2b2b2b;
    min-width: 200px;
    border: 1px solid #555;
    z-index: 999;
    flex-direction: column;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content a {
    color: white;
    padding: 12px;
    display: block;
}

.dropdown-content.active {
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown-content li a:hover {
    background-color: #444;
    color: white;
}

img {
    margin-left: 10px;
    max-width: 40%;
    height: auto;
}

/*VARIADOS*/

.card-description, .h2-title {
    margin-left: 10px;
}
